In [1]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np
import re

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

C:\Users\karin\AppData\Local\Temp\ipykernel_2460\1922032468.py:5: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

# Pair programming Unión de Datos e Introducción a Limpieza

## Ejercicios Unión de Datos
1. Explora y carga ambos conjuntos de datos en pandas DataFrames.

2. Identifica las columnas comunes entre los dos conjuntos de datos.

3. Utiliza el método de unión de Pandas que consideres más adecuado para combinar los datos de ambos años en un solo DataFrame.

4. Explica por qué elegiste ese método de unión y cómo se llevaron a cabo los pasos anteriores.

In [2]:
# Abrimos ambos CVS parte 1 y 2: 
df_w1= pd.read_csv("./files/world-data-2023_part1.csv", index_col=0)
df_w1

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34

In [3]:
df_w2= pd.read_csv("world-data-2023_part2.csv", index_col=0)
df_w2

,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"
2,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",Algeria,"('28.033886 ', '1.659626')"
3,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",Andorra,"('42.506285 ', '1.521801')"
4,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",Angola,"('-11.202692 ', '17.873887')"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,"$482,359,318,768",97.20%,79.30%,21.4,Caracas,72.1,125.0,$0.01,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368",Venezuela,"('6.42375 ', '-66.58973')"
191,"$261,921,244,843",110.60%,28.50%,16.5,Ho Chi Minh City,75.3,43.0,$0.73,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140",Vietnam,"('14.058324 ', '108.277199')"
192,"$26,914,402,224",93.60%,10.20%,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523",Yemen,"('15.552727 ', '48.516388')"
193,"$23,064,722,446",98.70%,4.10%,40.4,Lusaka,63.5,213.0,$0.24,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713",Zambia,"('-13.133897 ', '27.849332')"
194,"$21,440,758,800",109.90%,10.00%,33.9,Harare,61.2,458.0,NaN,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305",Zimbabwe,"('-19.015438 ', '29.154857')"

In [4]:
# A continuación, visualizamos ambos data frames: nombre de las columnas (para ver si tienen alguna en común por nombre, además de datos) y el numero de filas y columnas:
df_w1.columns

Index(['Country', 'Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)',
       'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Calling Code',
       'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)',
       'Currency-Code', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price'],
      dtype='object')

In [5]:
df_w2.columns

Index(['GDP', 'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
       'Largest city', 'Life expectancy', 'Maternal mortality ratio',
       'Minimum wage', 'Official language', 'Out of pocket health expenditure',
       'Physicians per thousand', 'Population',
       'Population: Labor force participation (%)', 'Tax revenue (%)',
       'Total tax rate', 'Unemployment rate', 'Urban_population', 'country',
       'coordinates'],
      dtype='object')

In [6]:
df_w1.shape

(195, 16)

In [7]:
df_w2.shape

(195, 19)

In [8]:
# Decidimos unir ambos Data Frames con MERGE ya que combina dos DataFrames en función de una o más columnas compartidas. En nuestro caso especificamos con
# left on y right on dichas columnas comunes y how(cómo) hacemos la unión. 
df_merge2 =df_w1.merge(df_w2, left_on = "Country", right_on = "country", how= 'inner')
df_merge2.head(2)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"

## Ejercicios de Limpieza

1. Después de la unión de datos, tenemos dos columnas de "country". Elimina una de ellas.

In [9]:
# Eliminamos una de las columnas Country ya que ambas tienen los mismos valores pero distinto nombre de columna: 
df_merge2.drop(columns=["country"], inplace=True)
df_merge2.head(2)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')"


2. Los nombres de las columnas no son homogeneos. Cambia los nombres de las columnas de tal forma que:

    - No tengan espacios.

    - Estén en minúscula.

    - No tengan paréntesis, es decir, quitar "(%)", "(Km2)".

    - Algunas columnas tiene "\n". Eliminalos de los nombres de las columnas.

    - Algunas columnas tienen ":". Eliminalos de los nombres de las columnas.

In [10]:
# Utilizando list comprehensions reemplazamos los espaciosy términos/símbolos que no queremos por NADA. Colocamos todos los nombres de columnas en minúscula también. 
df_colu = [columna.lower().replace(" ", "").replace("(%)", "").replace("(km2)", "").replace("(p/km2)", "").replace("\n", "")
           for columna in df_merge2.columns]

# Asignamos los nuevos nombres de las columnas al DataFrame
df_merge2.columns = df_colu

# Comprobamos que los cambios se han realizado correctamente 
df_merge2.head()

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,population:laborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100","('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025","('-11.202692 ', '17.873887')"


3. La columnas coordinates tiene la latitud y la longitud en una sola columna. Crea dos columnas nuevas, una con la longitud y otra con la latitud. Una vez hecho, elimina la columna de coordinates.

In [11]:
# Podemos realizarlo de dos formas: 
# Una forma es con extract que nos extrae dichos valores de las filas correspondientes que cumplan el patrón y nos lo separa en columnas: 
# df_split = df_merge2["coordinates"].str.extract(r"'(.*?)',\s*'(.*?)'")
# df_split.head()

In [12]:
# Otra forma más sencilla es con split: 
# Dividir la columna "coordinates" en dos columnas usando la coma como delimitador
df_split = df_merge2["coordinates"].str.split(",", expand=True)
df_split[0] = df_split[0].str.replace("('", "").str.replace("'", "")
df_split[1] = df_split[1].str.replace("')", "").str.replace("'", "")

In [13]:
#Visualizamos el data frame 
df_split.head()

             0           1
0    33.93911    67.709953
1   41.153332    20.168331
2   28.033886     1.659626
3   42.506285     1.521801
4  -11.202692    17.873887

In [14]:
# Eliminamos la columna coordinates y luego concatenamos ambos data frames: 
df_merge2.drop(columns= ['coordinates'], inplace=True)
df_concat = pd.concat([df_merge2, df_split], axis=1)

# Renombramos los nombres de las columnas y comprobamos: 
df_completo = df_concat.rename(columns={0:'latitud', 1:'longitud'})
df_completo.head()

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,population:laborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitud,longitud
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",33.93911,67.709953
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",-11.202692,17.873887


4. Las columnas unemployment_rate, total_tax_rate, tax_revenue, population_labor_force_participation, out_of_pocket_health_expenditure, gross_tertiary_education_enrollment, gross_primary_education_enrollment, forested_area, cpi_change, agricultural_land tienen "%". Elimina los "%" de los valores de las columnas.

In [15]:
#Reemplazamos de los valores que contenan al principio de dicho valor el símbolo concreto por nada: 
df_completo = df_completo.replace('%','', regex= True)
df_completo.head()

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,population:laborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitud,longitud
0,Afghanistan,60,AF,58.10,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30,AFN,4.47,2.10,$0.70,"$19,101,353,833",104.00,9.70,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40,0.28,"38,041,754",48.90,9.30,71.40,11.12,"9,797,273",33.93911,67.709953
1,Albania,105,AL,43.10,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40,ALL,1.62,28.10,$1.36,"$15,278,077,447",107.00,55.00,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90,1.20,"2,854,191",55.70,18.60,36.60,12.33,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.40,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00,DZD,3.02,0.80,$0.28,"$169,988,236,398",109.90,51.40,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10,1.72,"43,053,054",41.20,37.20,66.10,11.70,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.00,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00,$1.51,"$3,154,057,987",106.40,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.50,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10,AOA,5.52,46.30,$0.97,"$94,635,415,870",113.50,9.30,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40,0.21,"31,825,295",77.50,9.20,49.10,6.89,"21,061,025",-11.202692,17.873887


5. Haz lo mismo para las columnas de gasoline_price, gdp, minimum_wage, pero eliminando "$".

In [16]:
#Reemplazamos de los valores que contenan al principio de dicho valor el símbolo concreto por nada: 
df_completo = df_completo.replace('\$','', regex= True)
df_completo.head()

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,population:laborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitud,longitud
0,Afghanistan,60,AF,58.10,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30,AFN,4.47,2.10,0.70,"19,101,353,833",104.00,9.70,47.9,Kabul,64.5,638.0,0.43,Pashto,78.40,0.28,"38,041,754",48.90,9.30,71.40,11.12,"9,797,273",33.93911,67.709953
1,Albania,105,AL,43.10,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40,ALL,1.62,28.10,1.36,"15,278,077,447",107.00,55.00,7.8,Tirana,78.5,15.0,1.12,Albanian,56.90,1.20,"2,854,191",55.70,18.60,36.60,12.33,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.40,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00,DZD,3.02,0.80,0.28,"169,988,236,398",109.90,51.40,20.1,Algiers,76.7,112.0,0.95,Arabic,28.10,1.72,"43,053,054",41.20,37.20,66.10,11.70,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.00,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00,1.51,"3,154,057,987",106.40,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.40,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.50,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10,AOA,5.52,46.30,0.97,"94,635,415,870",113.50,9.30,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.40,0.21,"31,825,295",77.50,9.20,49.10,6.89,"21,061,025",-11.202692,17.873887


6. Guarda el DataFrame para usarlo en el pairprogramming de mañana.

In [17]:
#Guardamos el csv: 
df_completo.to_csv('./files/df_world_full.csv')

## Ejercicios de Filtrado

Encuentra todos los países cuya mortalidad infantil esté entre 40 y 50 personas por kilómetro cuadrado.

In [18]:
mortalidad = df_completo[df_completo['infantmortality'].between(40,50)]
print('Los países que cumplen la condición:')
print(mortalidad['country'] )
len(mortalidad['country'])

Los países que cumplen la condición:
0       Afghanistan
26     Burkina Faso
27          Burundi
47         Djibouti
72            Haiti
89         Kiribati
125           Niger
166           Sudan
175            Togo
192           Yemen
193          Zambia
Name: country, dtype: object

11


Encuentra los países cuyas tasas de natalidad son mayores o iguales a 20 y su esperanza de vida es mayor de 75 años.

In [19]:
natalidad = df_completo[(df_completo['birthrate'] >= 20) & (df_completo['lifeexpectancy'] > 75)]
print('Los países que cumplen la condición:')
print(natalidad['country'] )
len(natalidad['country'])

Los países que cumplen la condición:
2      Algeria
74    Honduras
82      Israel
Name: country, dtype: object

3


Encuentra las ciudades cuyos paises contienen la palabra "la" en su nombre.

In [20]:
nombre_la = df_completo[df_completo['country'].str.contains('la', case=False, na=False)]
print('Los países que cumplen la condición:')
print(nombre_la['capital/majorcity'] )
print('Cantidad de ciudades que cumplen la condición:', len(nombre_la))

Los países que cumplen la condición:
4              Luanda
13              Dhaka
15              Minsk
59           Helsinki
68     Guatemala City
76          Reykjav��
81             Dublin
92          Vientiane
93               Riga
102          Lilongwe
103      Kuala Lumpur
107            Majuro
122         Amsterdam
123        Wellington
132         Ngerulmud
139            Warsaw
159           Honiara
165           Colombo
169              Bern
173           Bangkok
190           Caracas
Name: capital/majorcity, dtype: object
Cantidad de ciudades que cumplen la condición: 21


Encuentra los países cuyos medicos por cada 1000 habitantes (physicians_per_thousand) sea mayores de 5.

In [21]:
medicos = df_completo[df_completo['physiciansperthousand'] > 5]
print('Los países que cumplen la condición:')
print(medicos['country'])
print('Cantidad de países que cumplen la condición:', len(medicos['country']))

Los países que cumplen la condición:
9         Austria
15        Belarus
42           Cuba
63        Georgia
66         Greece
99      Lithuania
113        Monaco
140      Portugal
149    San Marino
187       Uruguay
Name: country, dtype: object
Cantidad de países que cumplen la condición: 10


Encuentra los países cuyatasa de fertilidad sea mayor a 6.

In [22]:
fertilidad = df_completo[df_completo['fertilityrate'] > 6]
print('Los países que cumplen la condición:')
print(fertilidad['country'])
print('Cantidad de países que cumplen la condición:', len(fertilidad['country']))

Los países que cumplen la condición:
125      Niger
160    Somalia
Name: country, dtype: object
Cantidad de países que cumplen la condición: 2


Encuentra los países cuya moneda es el euro (EUR) y tienen una tasa de natalidad superior al promedio.

In [23]:
moneda = df_completo[(df_completo['currency-code'] == 'EUR') & (df_completo['birthrate'] > (df_completo['birthrate'].mean()))]
print('Los países que cumplen la condición:')
print(moneda['country'])
print('Cantidad de países que cumplen la condición:', len(moneda['country']))

Los países que cumplen la condición:
Series([], Name: country, dtype: object)
Cantidad de países que cumplen la condición: 0


Encuentra los países cuyas tasas de mortalidad infantil son superiores a 70.

In [24]:
mortalidad2 = df_completo[df_completo['infantmortality'] > 70]
print('Los países que cumplen la condición:')
print(mortalidad2['country'] )
len(mortalidad2['country'])

Los países que cumplen la condición:
33     Central African Republic
34                         Chad
126                     Nigeria
155                Sierra Leone
160                     Somalia
Name: country, dtype: object

5